<h5>Sign-in</h5>
<div class="sign_in_div">
  <%= sign_in.email_field :email, placeholder:"Email"%>
</div>
<div class="sign_in_div">
  <%= sign_in.password_field :password, placeholder:"Password", id:'sign_in_form'%>
</div>
